* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: aliceblue;
}

#page-container {
  width: 100%;
  /* align-items: center; */
  border: 15px solid white;
  margin 0 auto;
  padding: 20px; 
}

header {
  display: block;
}

.main-header {
text-align: center;
background-color: azure;
padding: 20px;}

.nav-header
{
display: flex;
justify-content: center;
padding: 15px;
/* flex-direction: row; */

background-color: rgb(146, 42, 130);
}

.nav-list {
  display: flex;
  align-items: horizontal;
  color: #151313;
  text-decoration: none;
  
}

.nav-list li {
  text-decoration: none;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.grid-container {
  background-color: blueviolet;
  border: white;
  border-width: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1px auto 4fr;


}

.grid-item {
  /* padding: 20px; */
  text-align: center;
  position: relative;
}

#separator  {
  /* position: relative; */
  width: 2px;
  background-color: black;
  height: 100%;
  margin: 0 auto;
}

#content p {
  padding-left: 20px;
  align-items: right;
}

#image img {
  padding: 20px;
  max-width: 100%;
  height: auto;
  align-items: left;
  display: flex;
}

.section-divider {
  padding: 20px;
}


#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon horiseon"
  "music music concertBand"
  ;
  justify-content: space-evenly;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#horiseon {
  grid-area: horizeon;
  background-image: url("../images/digital-marketing-meeting.jpg");
}

#music {
  grid-area: music;
  background-image: url("./images/IMG_6315.jpg");
}

#horizeon {
  grid-area: horizeon;
  background-image: url("../images/digital-marketing-meeting.jpg");
}



h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
